// Suisse Intl
// Suisse Works

@font-face {
  font-family: 'Suisse Int\'l';
  src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../fonts/SuisseWorks-Medium.woff2') format('woff2'),
      url('../fonts/SuisseWorks-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}