<section
  class="hero-history hero-history--location"
  style="background-image: url('images/content/hero-location-bg.jpg')"
>
  <div class="container">
    <div class="hero-history__offer">
      <h1 class="hero-history__title section-title">
        Lorem ipsum dolor sit amet, consetetur
      </h1>
      <div class="hero-history__text">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="grid-content">
    <div class="grid-content__side">
      <ul class="grid-content__list">
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Leitbild</a>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Unsere Geschichte</a>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Inlingua Methode</a>

          <ul class="grid-content__submenu submenu">
            <li class="submenu__item">
              <a class="submenu__link" href="#">Kommunikation zuerst</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Das Material</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Die Trainer</a>
            </li>
          </ul>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Unser Team</a>

          <ul class="grid-content__submenu submenu">
            <li class="submenu__item">
              <a class="submenu__link" href="#">Administration</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Offene Stellen</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Pädagogen</a>
            </li>
          </ul>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link grid-content__link--active" href="#">
            Standorte
          </a>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="grid-content__inner">
      <section class="location">
        <h2 class="location__title section-title">Standorte</h2>
        <div class="location__text">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
          </p>
        </div>

        <ul class="location__list">
          <li class="location__item">
            <div class="location-card">
              <div class="location-card__img">
                <img src="images/content/location/1.jpg" alt="Standorte" />
              </div>
              <div class="location__text">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                  elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                  dolore magna aliquyam Lorem ipsum dolor sit amet, consetetur
                  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor
                  sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum
                  dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut labore et dolore magna aliquyam
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                  elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                  dolore magna aliquyam Lorem ipsum dolor sit amet, consetetur
                  sadipscing elitr,
                </p>
              </div>
            </div>
          </li>
          <li class="location__item">
            <div class="location-card">
              <div class="location-card__img">
                <img src="images/content/location/2.jpg" alt="Standorte" />
              </div>
              <div class="location__text">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                  elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                  dolore magna aliquyam Lorem ipsum dolor sit amet, consetetur
                  sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                  invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor
                  sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum
                  dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut labore et dolore magna aliquyam
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                  elitr
                </p>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="our-centers">
        <h2 class="our-centers__title section-title">Unsere Zentren</h2>

        <div class="our-centers__map map">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A124c6dc3fec624b1dd5a5045d3bd871fc78ad16c80c1a5c20ebf923bb1c493c6&amp;source=constructor"
            width="700"
            height="700"
          ></iframe>
        </div>

        <ul class="our-centers__list">
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Phishing</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Attacken gegen Firmen</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Social engineering</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Sicer surfen</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Soziale Medien</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Cybersicherheit bei UBS</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Attacken gegen Firmen</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Social engineering</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Sicer surfen</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Soziale Medien</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Cybersicherheit bei UBS</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Phishing</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Attacken gegen Firmen</a>
          </li>
          <li class="our-centers__item">
            <a class="our-centers__link" href="#">Attacken gegen Firmen</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
