.advantages {
  @include adaptive-value('padding-bottom', 80, 50, 1);
  &__title {
    margin-bottom: 24px;
  }

  &__undertitle {
    margin-bottom: 58px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(3, auto);
      justify-content: center;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, auto);
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: auto;
    }
  }

  &__item {
    max-width: 284px;
    width: 100%;
    color: #848484;
    padding: 28px 23px;
    font-size: 13px;
    line-height: 23px;
    background-color: var(--color-bg);
  }

  &__name {
    font-size: 17px;
    color: #3f4144;
    display: block;
    margin-bottom: 20px;
  }
}
