.help-card {
  background-color: var(--color-bg);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  @include adaptive-value('padding', 40, 20, 1);

  &--language-test {
    align-items: center;
    .help-card__btn {
      @include adaptive-value('margin-top', 30, 20, 1);
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    @include adaptive-value('margin-bottom', 37, 20, 1);
    @include adaptive-value('font-size', 24, 20, 1);
  }

  &__box {
    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 37, 20, 1);
    }

    padding-left: 56px;
    position: relative;

    &::after {
      @include elDef();
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/phone.svg'), contain);
      background-color: var(--color-accent);
      @include adaptive-value('width', 40, 30, 1);
      @include adaptive-value('height', 40, 30, 1);
    }
  }

  &__text {
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 10px;
    @include adaptive-value('font-size', 20, 16, 1);
  }

  &__notify {
    font-size: 13px;
    color: #848484;
  }

  &__btn {
    padding: 12px;
    max-width: 180px;
    width: 100%;
  }
}
