.management-card {
  display: flex;
  height: 100%;

  &__title {
    font-size: 20px;
    color: #3f3f3f;
    margin-bottom: 23px;
  }

  &__img {
    max-width: 297px;
    height: 100%;

    img {
      @include img(cover);
    }
  }

  &__info {
    background-color: var(--color-bg);
    @include adaptive-value('padding-top', 58, 30, 1);
    @include adaptive-value('padding-bottom', 58, 30, 1);
    @include adaptive-value('padding-left', 45, 20, 1);
    @include adaptive-value('padding-right', 45, 20, 1);
  }
}
