.expand-card {
  max-width: 284px;
  width: 100%;
  height: 100%;

  &__title {
    font-size: 19px;
    margin-bottom: 14px;

    @include adaptive-value('font-size', 19, 16, 1);
  }

  &__img {
    max-width: 284px;
    width: 100%;
    @include adaptive-value('font-size', 210, 150, 1);
    
    img {
      @include img(cover);
    }
  }

  &__info {
    padding: 24px;
  }

  &__text {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 20px;
    color: var(--color-text);

    @include line-clamp(2);
  }

  &__btn {
    max-width: 142px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
