.data {
  @include adaptive-value('padding-top', 70, 50, 1);
  @include adaptive-value('padding-bottom', 70, 50, 1);
  .table-data {
    @include adaptive-value('margin-bottom', 50, 30, 1);
    font-size: 15px;
    color: #3f3f3f;

    @include breakpointsMaxW($bp-991) {
      overflow-x: auto;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 244px);
      gap: 2px;

      @include breakpointsMaxW($bp-991) {
        width: 1000px;
      }
    }

    &__grid {
      display: grid;
      gap: 2px;
      grid-template-rows: repeat(10, 60px);
      grid-template-columns:
        minmax(auto, 70px)
        minmax(auto, 137px)
        minmax(auto, 90px)
        minmax(auto, 113px)
        minmax(auto, 113px)
        minmax(auto, 137px)
        minmax(auto, 85px)
        minmax(auto, 100px)
        minmax(auto, 100px);
    }

    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      min-height: 60px;
      padding: 12px 6px;

      &:nth-child(2n + 1) {
        background-color: var(--color-white);
      }

      &--none {
        @include backgroundImage(
          url('../images/content/data-table/close.png'),
          22px
        );
      }

      &--warning {
        @include backgroundImage(
          url('../images/content/data-table/warning.png'),
          22px
        );
      }

      &--good {
        @include backgroundImage(
          url('../images/content/data-table/check.png'),
          22px
        );
      }
    }
    &__head {
      .table-data__cell {
        background-color: #3f3f3f;
        color: var(--color-white);
      }
    }
    &__books {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, auto);
      padding-top: 60px;
      gap: 2px;

      &-cell {
        width: 100%;
        min-height: 60px;
        background-color: #f3f3f3;
        border: 2px solid var(--color-accent);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-accent);
        &--bg {
          background-color: var(--color-accent);
          color: var(--color-white);
        }
      }
    }
  }

  &__btn {
    display: block;
    max-width: 256px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  .explain-data {
    @include breakpointsMaxW($bp-991) {
      overflow-x: auto;
    }

    &__table {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 54px 54px;
      gap: 2px;
      @include breakpointsMaxW($bp-991) {
        width: 1000px;
      }
    }

    &__cell {
      background-color: var(--color-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      &:not(:last-child) {
        margin-bottom: 2px;
      }
      &--none {
        @include backgroundImage(
          url('../images/content/data-table/close.png'),
          22px
        );
      }

      &--warning {
        @include backgroundImage(
          url('../images/content/data-table/warning.png'),
          22px
        );
      }

      &--good {
        @include backgroundImage(
          url('../images/content/data-table/check.png'),
          22px
        );
      }
    }
  }
}
