.history {
  &__title {
    @include adaptive-value('margin-bottom', 32, 20, 1);
  }

  &__undertitle {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__slider {
    @include adaptive-value('margin-bottom', 55, 30, 1);

    .swiper-button-next,
    .swiper-button-prev {
      width: 47px;
      height: 47px;
      background-color: var(--color-white);
      border: 1px solid rgba(0,0,0,0.1);

      &::after {
        @include elDef();
        top: 50%;
        left: 50%;
        width: 20px;
        height: 10px;
        transform: translate(-50%, -50%);
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: var(--color-title);
      }
    }
    .swiper-button-next {
      right: 0;
      &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
    .swiper-button-prev {
      left: 0;
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__slide {
    max-width: 285px;
  }

  &__info {
    display: grid;
    grid-template-columns: 40px minmax(auto, 225px) minmax(auto, 568px);
    gap: 40px;
    justify-content: space-between;
    color: #101010;
    line-height: 25px;
    @include adaptive-value('gap', 40, 20, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }
}
