.information {
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);
  background-color: #313740;
  color: var(--color-white);

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    max-width: 730px;
  }

  &__title {
    font-family: $SuisseWorks;
    font-weight: 500;
    margin-bottom: 23px;
  }

  &__text {
    color: #b4b9c1;
  }

  &__btn {
    margin-left: auto;
    font-size: 18px;
    padding: 24px;
    max-width: 342px;
    width: 100%;
    line-height: 1;
    
    @include breakpointsMaxW($bp-991) {
      margin-left: 0;
    }
  }
}
