.levels {
  color: var(--color-title);
  @include adaptive-value('padding-top', 70, 50, 1);

  &__title {
    line-height: 1.3;
    @include adaptive-value('margin-bottom', 33, 20, 1);
  }

  &__undertitle {
    @include adaptive-value('margin-bottom', 33, 20, 1);
  }
  &__text {
    @include adaptive-value('margin-bottom', 60, 30, 1);
  }

  &__preview {
    width: 100%;
    max-height: 420px;
    @include breakpointsMaxW($bp-991) {
      overflow-x: auto;
    }

    img {
      @include img(contain);
      // @include breakpointsMaxW($bp-991) {
      //   min-width: 900px;
      // }
    }
  }
}

.table-lang {
  border-radius: 50px 0px 50px 0px;
  overflow: hidden;
  font-size: 18px;
  line-height: 25px;

  @include breakpointsMaxW($bp-991) {
    overflow-x: auto;
  }

  &__grid {
    @include breakpointsMaxW($bp-991) {
      min-width: 1200px;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: minmax(auto, 190px) minmax(auto, 207px) 1fr;
    gap: 2px;
    color: var(--color-white);
    .table-head {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 56px;
      background-color: #3f3f3f;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: minmax(auto, 190px) 1fr;
    gap: 2px;
  }

  &__right {
    display: grid;
    grid-template-columns: minmax(auto, 207px) 1fr;
    gap: 2px;
  }

  &__row {
    display: grid;
    grid-template-columns: minmax(auto, 103px) minmax(auto, 103px) 1fr;
    gap: 2px;
    margin-top: 1px;
  }

  .table-cell {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    box-sizing: border-box;

    &--big {
      width: 100%;
      padding: 14px 20px;
      font-size: 15px;
    }
  }

  &__left {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    .table-cell {
      width: 100%;
      height: 100%;
      padding: 20px;
      justify-content: flex-start;
    }
  }
}
