.our-centers {
  &__title {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__map {
    @include adaptive-value('height', 550, 330, 1);
    @include adaptive-value('margin-bottom', 37, 20, 1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 286px));
    gap: 20px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, minmax(220px, 286px));
      justify-content: center;
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(220px, 286px);
    }
  }

  &__link {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: var(--color-bg);
  }
}
