.room {
  @include adaptive-value('padding-top', 65, 40, 1);
  @include adaptive-value('padding-bottom', 80, 50, 1);
  color: var(--color-text);
  &__title {
    color: var(--color-black);
    @include adaptive-value('margin-bottom', 36, 20, 1);
  }

  &__undertitle {
    @include adaptive-value('margin-bottom', 35, 20, 1);
  }

  &__text {
    @include adaptive-value('margin-bottom', 49, 20, 1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 256px);
    gap: 40px;

    @include adaptive-value('gap', 40, 20, 1);

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
    height: 100%;

    &--big {
      grid-row: 1/-1;

      @include breakpointsMaxW($bp-768) {
        grid-row: initial;
      }
    }
  }
}
