.section-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: var(--color-white);

  &--small {
    .section-bg__wrapper {
      height: 415px;
    }
  }

  &__wrapper {
    max-width: 815px;
    text-align: center;
    margin: 0 auto;
    height: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 57px;
    color: #c4c7cc;
    font-size: 15px;
  }
}
