.team {
  &__title {
    @include adaptive-value('margin-bottom', 42, 30, 1);
  }

  &--with-padding {
    @include adaptive-value('padding-bottom', 80, 40, 1);
    @include adaptive-value('padding-top', 80, 40, 1);
    border-bottom: 1px solid #dadbdd;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include adaptive-value('row-gap', 50, 30, 1);
    @include adaptive-value('column-gap', 60, 30, 1);

    @include breakpointsMaxW($bp-container) {
      gap: 20px 30px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }

    &__item {
      height: 100%;
      justify-self: center;
    }
  }

  &__inner {
    position: relative;
    max-width: 900px;
    min-width: 0;

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;

      &::after {
        @include elDef();
        width: 23px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: var(--color-text);
      }
    }

    .swiper-button-next {
      right: 0;
      &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
    .swiper-button-prev {
      left: 0;
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__slider {
    max-width: 830px;
    width: 100% !important;
    min-width: 0;
    margin: 0 auto;
    @include breakpointsMaxW($bp-container) {
      max-width: 700px;
    }
    @include breakpointsMaxW($bp-768) {
      max-width: 500px;
    }
    @include breakpointsMaxW($bp-576) {
      max-width: 300px;
    }

    .team__slides {
      // display: flex;
    }
  }

  .team-hiring {
    @include adaptive-value('padding-top', 70, 40, 1);
    @include adaptive-value('padding-bottom', 70, 40, 1);

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptive-value('gap', 45, 20, 1);

      @include breakpointsMaxW($bp-768) {
        grid-template-columns: auto;
        justify-content: center;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }
}
