<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__offer">
        <h2 class="contacts__title section-title">inlingua Leman</h2>

        <div class="contacts__accordion accordion">
          <a class="contacts__control accordion__control" href="#">
            Informationen
          </a>

          <div class="contacts__control__content accordion__content">
            <ul class="contacts__list">
              <li class="contacts__item contacts__item--location">
                Genfergasse 3+5, 3011 Bern <br />
                +41 21 323 94 15
              </li>
              <li class="contacts__item contacts__item--location">
                Panoramastrasse 1, 3600 Thun <br />
                +41 22 732 40 20
              </li>
              <li class="contacts__item contacts__item--mail">
                <a href="mailto:Kontaktieren-Sie-uns">Kontaktieren-Sie uns</a>
              </li>
              <li class="contacts__item contacts__item--schedule">
                Offnungzeiten des Sekretariats in Lausanne <br />
                Mo. bis Fr. 8h30 - 12h30 | 13h30 - 17h30
              </li>
            </ul>
          </div>
        </div>
        <div class="contacts__accordion accordion">
          <a class="contacts__control accordion__control" href="#">
            Anfahrt Lausanne
          </a>

          <div class="contacts__control__content accordion__content">
            <ul class="contacts__list">
              <li class="contacts__item contacts__item--location">
                Genfergasse 3+5, 3011 Bern <br />
                +41 21 323 94 15
              </li>
              <li class="contacts__item contacts__item--location">
                Panoramastrasse 1, 3600 Thun <br />
                +41 22 732 40 20
              </li>
              <li class="contacts__item contacts__item--mail">
                <a href="mailto:Kontaktieren-Sie-uns">Kontaktieren-Sie uns</a>
              </li>
              <li class="contacts__item contacts__item--schedule">
                Offnungzeiten des Sekretariats in Lausanne <br />
                Mo. bis Fr. 8h30 - 12h30 | 13h30 - 17h30
              </li>
            </ul>
          </div>
        </div>
        <div class="contacts__accordion accordion">
          <a class="contacts__control accordion__control" href="#">
            Anfahrt Genf
          </a>

          <div class="contacts__control__content accordion__content">
            <ul class="contacts__list">
              <li class="contacts__item contacts__item--location">
                Genfergasse 3+5, 3011 Bern <br />
                +41 21 323 94 15
              </li>
              <li class="contacts__item contacts__item--location">
                Panoramastrasse 1, 3600 Thun <br />
                +41 22 732 40 20
              </li>
              <li class="contacts__item contacts__item--mail">
                <a href="mailto:Kontaktieren-Sie-uns">Kontaktieren-Sie uns</a>
              </li>
              <li class="contacts__item contacts__item--schedule">
                Offnungzeiten des Sekretariats in Lausanne <br />
                Mo. bis Fr. 8h30 - 12h30 | 13h30 - 17h30
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A124c6dc3fec624b1dd5a5045d3bd871fc78ad16c80c1a5c20ebf923bb1c493c6&amp;source=constructor"
          width="700"
          height="700"
        ></iframe>
      </div>
    </div>
  </div>
</section>
