<header class="header">
  <div class="mobile-menu">
    <a class="mobile-menu__logo logo" href="#">
      <img src="images/logo-mobile.png" alt="Логотип" />
    </a>

    <button class="mobile-menu__close" type="button" aria-label="Закрыть меню">
      <svg width="19" height="19">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu__body">
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Kurssuche Sprachkurse
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Kurssuche Sprachkurse
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Kurssuche Sprachkurse
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Kurssuche Sprachkurse
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Sprachtests Diplome | Zertifikate
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Sprachtests Diplome | Zertifikate</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Sprachtests Diplome | Zertifikate</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Firmenkurse B2B
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Firmenkurse B2B </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Firmenkurse B2B </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            über inlingua
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"> über inlingua </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"> über inlingua </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Kontakt
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Kontakt</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Kontakt</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="header__wrapper">
      <div class="header__top">
        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>

        <a class="header__logo logo" href="#">
          <picture>
            <source
              srcset="images/logo-mobile.png"
              media="(max-width: 991px)"
            />
            <img src="images/logo.png" alt="Логотип" />
          </picture>
        </a>

        <div class="header__tools">
          <button class="header__lang" type="button">DE</button>
          <button class="header__search" type="button">
            <svg width="15" height="15">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </button>
          <button class="header__btn btn" type="button">Login</button>
        </div>
      </div>

      <div class="header__bottom">
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Kurssuche Sprachkurse </a>

              <ul class="menu__dropdown dropdown">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Firmenkurse B2B</a>

              <ul class="menu__dropdown dropdown">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Sprachtests Diplome | Zertifikate
              </a>

              <ul class="menu__dropdown dropdown">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">über inlingua</a>

              <ul class="menu__dropdown dropdown">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Kontakt</a>

              <ul class="menu__dropdown dropdown dropdown--right">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Kurssuche Sprachkurse</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
