<section class="section-def section-def--reverse">
  <div class="container">
    <div class="section-def__wrapper">
      <div class="section-def__preview">
        <img src="images/content/main-page-img/france.jpg" alt="Women with England" />
      </div>
      <div class="section-def__offer">
        <h2 class="section-def__title section-title">
          Lorem ipsum dolor sit amet, consetetur
        </h2>
        <div class="section-def__text">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          </p>
        </div>
        <a class="section-def__btn btn btn--arrow" href="#"> Mehr erfahren </a>
      </div>
    </div>
  </div>
</section>
