<section
  class="section-bg section-bg--small"
  style="background-image: url('images/content/bg-2.jpg')"
>
  <div class="container">
    <div class="section-bg__wrapper">
      <h2 class="section-bg__title section-title">Unverbindliche Offerte</h2>
      <div class="section-bg__text">
        <p>
          Mit dem inlingua Online Sprachtest erfahren Sie kostenlos und
          unverbindlich, wo Sie in den Sprachniveaus von A1-C2 stehen. Zudem
          können Sie von inlingua eine detaillierte Auswertung der Resultate
          erhalten.
        </p>
      </div>
      <a class="section-bg__btn btn" href="#"> Zum Einstufungstest </a>
    </div>
  </div>
</section>
