<section class="data">
  <div class="container">
    <h2 class="visually-hidden">Data</h2>

    <div class="data__table table-data">
      <div class="table-data__wrapper">
        <div class="table-data__grid">
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Status</div>
            </div>
            <div class="table-data__cell table-data__cell--none"></div>
            <div class="table-data__cell table-data__cell--warning"></div>
            <div class="table-data__cell table-data__cell--good"></div>
            <div class="table-data__cell table-data__cell"></div>
            <div class="table-data__cell table-data__cell"></div>
            <div class="table-data__cell table-data__cell--none"></div>
            <div class="table-data__cell table-data__cell"></div>
            <div class="table-data__cell table-data__cell"></div>
            <div class="table-data__cell table-data__cell"></div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Kursbeschrieb</div>
            </div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
            <div class="table-data__cell">Deutsch Hamburg</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Niveau</div>
            </div>
            <div class="table-data__cell">A1</div>
            <div class="table-data__cell">A2</div>
            <div class="table-data__cell">B1.1 - B1.2</div>
            <div class="table-data__cell">B1.3 - B1.4</div>
            <div class="table-data__cell">B2.1 - B2.2</div>
            <div class="table-data__cell">B2.3 - B2.4</div>
            <div class="table-data__cell">C1.1 - C1.2</div>
            <div class="table-data__cell">C1.3 - C1.4</div>
            <div class="table-data__cell">C2</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Durchfuhr- ungsart</div>
            </div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
            <div class="table-data__cell">Hibrid</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Daten</div>
            </div>

            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
            <div class="table-data__cell">18.03.2022- 23.04.2022</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Tag(e)</div>
            </div>

            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
            <div class="table-data__cell">33 Kurstage</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Zeit</div>
            </div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
            <div class="table-data__cell">18:00- 20:20</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Standort</div>
            </div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
            <div class="table-data__cell">Bern</div>
          </div>
          <div class="table-data__col">
            <div class="table-data__head">
              <div class="table-data__cell">Preis CHF</div>
            </div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
            <div class="table-data__cell">824.-</div>
          </div>
        </div>

        <div class="table-data__books">
          <div class="table-data__books-col">
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
            <div class="table-data__books-cell">Nehr info,s</div>
          </div>
          <div class="table-data__books-col">
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
            <div class="table-data__books-cell table-data__books-cell--bg">
              Buchen
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="data__btn btn" href="#">Mehr anzeigen</a>

    <div class="table-data__explain explain-data">
      <div class="explain-data__table">
        <div class="explain-data__col">
          <div class="explain-data__cell explain-data__cell--none"></div>
          <div class="explain-data__cell">Status</div>
        </div>
        <div class="explain-data__col">
          <div class="explain-data__cell explain-data__cell--warning"></div>
          <div class="explain-data__cell">Kursbeschrieb</div>
        </div>
        <div class="explain-data__col">
          <div class="explain-data__cell explain-data__cell--good"></div>
          <div class="explain-data__cell">Niveau</div>
        </div>
        <div class="explain-data__col">
          <div class="explain-data__cell explain-data__cell--none"></div>
          <div class="explain-data__cell">Durchfuhrungsart</div>
        </div>
        <div class="explain-data__col">
          <div class="explain-data__cell explain-data__cell--warning"></div>
          <div class="explain-data__cell">Daten</div>
        </div>
        <div class="explain-data__col">
          <div class="explain-data__cell explain-data__cell--good"></div>
          <div class="explain-data__cell">Tag(e)</div>
        </div>
      </div>
    </div>
  </div>
</section>
