<section
  class="hero-history--saving-account"
  style="background-image: url('images/content/hero-saving-bg.jpg')"
>
  <div class="container">
    <div class="hero-history__offer">
      <h1 class="hero-history__title section-title">Sparkonto</h1>
      <p class="hero-history__undertitle">Für den Aufbau Ihres Sparguthabens</p>
      <div class="hero-history__text">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        </p>
      </div>
    </div>
  </div>
</section>
