<section class="levels">
  <div class="container">
    <h2 class="levels__title section-title">Sparkonto</h2>
    <p class="levels__undertitle">Für den Aufbau Ihres Sparguthabens</p>

    <div class="levels__text">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam.
      </p>
    </div>

    <div class="levels__table table-lang">
      <div class="table-lang__grid">
        <div class="table-lang__head">
          <div class="table-head"></div>
          <div class="table-head">Niveau</div>
          <div class="table-head">ich kann...</div>
        </div>
        <div class="table-lang__body">
          <div class="table-lang__left">
            <div class="table-cell">Anfanger</div>
            <div class="table-cell">Forstgeschrittene</div>
            <div class="table-cell">Profis</div>
          </div>
          <div class="table-lang__middle">
            <div class="table-lang__row">
              <div class="table-cell">A1</div>
              <div class="table-cell">A1.1</div>
              <div class="table-cell table-cell--big">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr.
              </div>
            </div>
            <div class="table-lang__row">
              <div class="table-cell">A2</div>
              <div class="table-cell">A2.2</div>
              <div class="table-cell table-cell--big">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr.
              </div>
            </div>
            <div class="table-lang__row">
              <div class="table-cell">B1</div>
              <div class="table-cell">B1.1</div>
              <div class="table-cell table-cell--big">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr.
              </div>
            </div>
            <div class="table-lang__row">
              <div class="table-cell">B2</div>
              <div class="table-cell">B2.2</div>
              <div class="table-cell table-cell--big">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr.
              </div>
            </div>
            <div class="table-lang__row">
              <div class="table-cell">C1</div>
              <div class="table-cell">C1.1</div>
              <div class="table-cell table-cell--big">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr.
              </div>
            </div>
            <div class="table-lang__row">
              <div class="table-cell">C2</div>
              <div class="table-cell">C2.2</div>
              <div class="table-cell table-cell--big">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
