<section class="employees">
  <div class="container">
    <h2 class="employees__title section-title">Unsere Mitarbeitenden</h2>
    <div class="employees__text">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam Lorem ipsum dolor sit ame.
      </p>
    </div>

    <ul class="employees__list">
      <li class="employees__item">
        <div class="employees__img">
          <img src="images/content/employees/1.png" alt="Mitarbeitenden" />
        </div>
        <div class="employees__info">
          <span class="employees__number">73 000</span>
          <p class="employees__descr">Mitarbeitenden</p>
        </div>
      </li>
      <li class="employees__item">
        <div class="employees__img">
          <img src="images/content/employees/2.png" alt="Mitarbeitenden" />
        </div>
        <div class="employees__info">
          <span class="employees__number">30%</span>
          <p class="employees__descr">
            in der Schweiz <br />
            7 931 Frauen / 13 667 Manner
          </p>
        </div>
      </li>
      <li class="employees__item">
        <div class="employees__img">
          <img src="images/content/employees/3.png" alt="Mitarbeitenden" />
        </div>

        <div class="employees__info">
          <span class="employees__number">30%</span>
          <p class="employees__descr">
            in Amerika <br />
            8 374 Frauen / 13 249 Manner
          </p>
        </div>
      </li>
      <li class="employees__item">
        <div class="employees__img">
          <img src="images/content/employees/4.png" alt="Mitarbeitenden" />
        </div>

        <div class="employees__info">
          <span class="employees__number">~50</span>
          <p class="employees__descr">Landern</p>
        </div>
      </li>
      <li class="employees__item">
        <div class="employees__img">
          <img src="images/content/employees/5.png" alt="Mitarbeitenden" />
        </div>

        <div class="employees__info">
          <span class="employees__number">21%</span>
          <p class="employees__descr">
            in der Region Asien-Pazifik <br />
            6 431 Frauen / 9 005 Manner
          </p>
        </div>
      </li>
      <li class="employees__item">
        <div class="employees__img">
          <img src="images/content/employees/6.png" alt="Mitarbeitenden" />
        </div>
        <div class="employees__info">
          <span class="employees__number">19%</span>
          <p class="employees__descr">
            in der Region EMEA <br />
            5 673 Frauen / 8 557 Manner
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
