<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title">Your advantages</h2>
    <p class="advantages__undertitle">Der wahre Schlussel zu unserem Erfolg</p>

    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__name">Support:</span>
        <div class="advantages__text">
          <p>
            By joining an inlingua language training programme you will have
            access to our Virtual Classroom or VC sessions from various
            locations simultaneously via inlingua’s exclusive online classroom
            platform, my.inlingua.com which offers your team:
          </p>

          <ul>
            <li>
              Personalized learning paths leading to progressive learning
              success.
            </li>
            <li>
              Additional exercises to improve grammar, vocabulary and
              pronunciation.
            </li>
            <li>
              Integrated gamification features which increase study motivation.
            </li>
            <li>
              A dictionary and a speaking lab are available only for students
              learning English.
            </li>
          </ul>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__name">Access:</span>
        <div class="advantages__text">
          <p>
            Our pedagogical, administrative and accounting teams support your HR
            and your team throughout the training process and beyond. Being
            dedicated to each customer and using our extensive knowledge of
            internal company processes are our specialty.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__name">Practical Skills:</span>
        <div class="advantages__text">
          <p>
            The inlingua method focuses as much as possible on developing
            practical communication skills in the language of choice, thereby
            ensuring that you will be able to practically apply your language
            skills in everyday work situations.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__name">Industry Specific Vocabulary:</span>
        <div class="advantages__text">
          <p>
            Our trainers will specially incorporate terms, phrases and
            vocabulary that is relevant to your industry into your course
            programme, thus keeping your training programme as relevant and
            specific as possible.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
