<section class="approach">
  <div class="container">
    <h2 class="approach__title section-title">inlingua approach</h2>

    <ul class="approach__list">
      <li class="approach__item">
        <article class="approach-card approach-card--analysis">
          <div class="approach-card__top">
            <h3 class="approach-card__title">Analysis</h3>
          </div>
          <div class="approach-card__text">
            <p>
              Multiple language fluency is a huge asset for any business or
              team. At inlingua we make sure to undertake an in-depth analysis
              to determine your concrete objectives. This is done by collecting
              your precise needs and setting up a complete and reliable initial
              evaluation, both written and oral. The information collected
              allows for the recommendation of a tailor-made program that will
              fit your needs and lead to your goals.
            </p>
          </div>
        </article>
      </li>
      <li class="approach__item">
        <article class="approach-card approach-card--implementation">
          <div class="approach-card__top">
            <h3 class="approach-card__title">Implementation</h3>
          </div>
          <div class="approach-card__text">
            <p>
              After taking all parameters into account, the chosen training plan
              is implemented inlingua takes care of the material and the
              practical organisation of the courses.
            </p>
          </div>
        </article>
      </li>
      <li class="approach__item">
        <article class="approach-card approach-card--flexibility">
          <div class="approach-card__top">
            <h3 class="approach-card__title">Flexibility</h3>
          </div>
          <div class="approach-card__text">
            <p>
              The flexibility of the program during the training is ensured
              through the permanent control of the coordinator, this allows for
              smooth transitions during the training programme. In order to
              maximize the efficiency of our language training courses, we make
              provision for all training to be available either at our language
              center or on your company’s premises.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
