<section
  class="hero-history hero-history--courses"
  style="background-image: url('images/content/hero-courses-bg.jpg')"
>
  <div class="container">
    <div class="hero-history__offer">
      <h1 class="hero-history__title section-title">Corporate Courses Page</h1>
      <div class="hero-history__text">
        <p>
          Expand your possibilities or simply improve your current language
          level by participating in one of inlingua’s language courses
          customized for business or companies.
        </p>
      </div>
    </div>
  </div>
</section>
