<section class="information">
  <div class="container">
    <div class="information__wrapper">
      <div class="information__left">
        <h2 class="information__title">
          Informieren Sie sich uber Losungen fur Ihre Mitarbeitenden
        </h2>
        <div class="information__text">
          <p>
            Wir freuen uns uber Ihre Kontaktaufnahme mit unserem Team and werden
            <br />
            Sie bei Ihren Fragen beratend unterstutzen.
          </p>
        </div>
      </div>

      <a class="information__btn btn" href="#"> JETZT KONTANKTIEREN </a>
    </div>
  </div>
</section>
