<section class="references">
  <div class="container">
    <h2 class="references__title section-title">References</h2>
    <p class="references__undertitle">
      With 53 years of language training experience, don’t take our word for it,
      ask our clients:
    </p>

    <ul class="references__list">
      <li class="references__item">
        <img src="images/content/references/1.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/2.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/3.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/4.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/5.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/6.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/7.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/8.png" alt="ref">
      </li>
      <li class="references__item">
        <img src="images/content/references/9.png" alt="ref">
      </li>
    </ul>
  </div>
</section>
