<div class="container">
  <div class="grid-content">
    <div class="grid-content__side">
      <ul class="grid-content__list">
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Leitbild</a>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link grid-content__link--active" href="#"
            >Unsere Geschichte</a
          >
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Inlingua Methode</a>

          <ul class="grid-content__submenu submenu">
            <li class="submenu__item">
              <a class="submenu__link" href="#">Kommunikation zuerst</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Das Material</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Die Trainer</a>
            </li>
          </ul>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Unser Team</a>

          <ul class="grid-content__submenu submenu">
            <li class="submenu__item">
              <a class="submenu__link" href="#">Administration</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Offene Stellen</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Pädagogen</a>
            </li>
          </ul>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Standorte</a>
        </li>
        <li class="grid-content__item">
          <a class="grid-content__link" href="#">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="grid-cotnent__inner">
      <section class="history">
        <h2 class="history__title section-title">Unsere Geschichte</h2>
        <p class="history__undertitle">
          Mehr als 150 Jahre interresante Geschichten
        </p>

        <div class="history__slider swiper">
          <ul class="history__slides swiper-wrapper">
            <li class="history__slide swiper-slide">
              <img src="images/content/unsere/slide-1.jpg" alt="slide 1" />
            </li>
            <li class="history__slide swiper-slide">
              <img src="images/content/unsere/slide-1.jpg" alt="slide 1" />
            </li>
            <li class="history__slide swiper-slide">
              <img src="images/content/unsere/slide-1.jpg" alt="slide 1" />
            </li>
            <li class="history__slide swiper-slide">
              <img src="images/content/unsere/slide-1.jpg" alt="slide 1" />
            </li>
            <li class="history__slide swiper-slide">
              <img src="images/content/unsere/slide-1.jpg" alt="slide 1" />
            </li>
            <li class="history__slide swiper-slide">
              <img src="images/content/unsere/slide-1.jpg" alt="slide 1" />
            </li>
          </ul>

          <button class="swiper-button-next" type="button" aria-label="Следующий"></button>
          <button class="swiper-button-prev" type="button" aria-label="Предыдущий"></button>
        </div>
        <div class="history__info">
          <div class="history__text">
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
            <p>2000</p>
          </div>
          <div class="history__text">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna
            </p>
          </div>
          <div class="history__text">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              <br />
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              <br />
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              <br />
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
